.title {
  text-align: center;
  color: red;
  word-spacing: 60px;
}
.link {
  text-decoration: none;
  color: red;
}
img {
  width: 100%;
  height: auto;
}
#text {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  word-spacing: 10px;
  margin-top:20px;
   ;
}
.paragraph1, .paragraph2 {
  text-align: center;
  font-family: monospace;

}
.paragraph1 {
padding-bottom: 30px ;
}
button {
  margin-left: 45%;
  margin-top: 5%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: red;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    border: none;
    border-radius: 5%;
}
